@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Game of Pente</h1>
        <p><a href="https://www.pente.net/instructions.html" class="btn btn-primary btn-md">Rules of the Game</a></p>
    </section>

    <div class="row">
        <!-- Player 1 info -->
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Player 1</h2>
            <label for="P1Name">Player 1 Name:</label>
            <input type="text" name="P1Name" value="" />

            <p id="color-selection"></p>
        </section>
        <!-- Player 2 Info -->
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Player 2</h2>
            <label for="P2Name">Player 2 Name:</label>
            <input type="text" name="P2Name" value="" />
            <p id="color-selection"></p>
        </section>
    </div>
</main>