@{
    ViewBag.Title = "Home Page";
    
}

<head>
    <link href="~/Styling/home.css" rel="stylesheet" />
</head>

<main>

    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Game of Pente</h1>
        <p>
            Welcome to the game of Pente! <br />

            <div>
                <!-- Rules -->
                <!-- Collapsable: https://www.w3schools.com/howto/howto_js_collapsible.asp -->
                <button type="button" class="collapsible">Rules of the Game</button>
                <div class="content">
                    <p>Insert rules here (bullet points?)</p>
                </div>
            </div>
            
        </p>
    </section>

    <div class="row">
        <!--
            

            Need way to input player names and colors (optional) into game
            StartGame? will need a way to gather the window info and then set the info to each players
        -->
        <form asp-controller="Board" asp-action="Index" method="post">
            <!-- Player 1 info -->
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <h2 id="gettingStartedTitle">Player 1</h2>
                <label for="P1Name">Player 1 Name:</label>
                <input type="text" name="P1Name" value="Player 1" />

                <input type="text" hidden id="color-selection" name="P1colorValue" value="white" />
            </section>
            <!-- Player 2 Info -->
            <section class="col-md-4" aria-labelledby="librariesTitle">
                <h2 id="librariesTitle">Player 2</h2>
                <label for="P2Name">Player 2 Name:</label>
                <input type="text" name="P2Name" value="Player 2" />

                <input type="text" hidden id="color-selection" name="P2colorValue" value="black" />
            </section>
            <button type="submit">Play Game</button>
        </form>

    </div>
</main>

<!-- Collapsable: https://www.w3schools.com/howto/howto_js_collapsible.asp -->
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>