@model PenteGame.Models.PieceModel




<form method="Post" action="pieceClicked" controller="Board">
    <input type="hidden" name="pieceX" value="@Model.x" />
    <input type="hidden" name="pieceY" value="@Model.y" />
    <button type="submit">
        <img src=@Model.image />
    </button>

</form>



